# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# DataBase
*.db
!school.db
!books.db

# Python
lecture_4/main.py